body {
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
  background-image: url('https://wallpapers.com/images/featured/anime-scenery-ahd1eqpvwq8aoofp.jpg');
  background-position: center;
  background-size: cover;
}

.app{
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px 30px;
  border-radius: 10px;
  border: 3px dashed #fff;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #2960D7;
  color: #FFF;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
  border: 2px solid #A7C4EF;
  border-radius: 8px;
  
}

button:hover {
  opacity: 1;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 3px dashed #fff
}

.todo {
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.complete {
  background-color: #819F09;
  border: 2px solid #c1d695;
  border-radius: 8px;
}

.remove {
  background-color: #e8b202;
  border: 2px solid #F2C326;
  border-radius: 8px;
}

.todo-form {
  padding-bottom: 1.5rem;
}

input, select {
  background-color: #fff;
  padding: 5px;
  margin-bottom: 10px; 
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 100%;
  
}

.filter, 
.search {
  border-bottom: 3px dashed #fff;
  margin-bottom: 20px;
  padding-bottom: 20px;

}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div {
  flex: 1 1 0;
}

.botoes-filter {
  display: flex;
  
}

.button-width {
  width: 100%;
}


.text-title {
  font-size: 15px;

}

.category {
  font-size: 13px;
  font-weight: bold;
  color: #2960D7;

}

